{{!-- if logged out, no comment box --}}
{{!-- if logged in as audience, there's comment box --}}

    <div id="individual-blog-render" class="row mx-3">
        {{!-- {{#if loginStatus}}
            {{#ifEq userBlog.user_id userId }} --}}
            <div class="">
                <button id="edit-blog-btn" type="submit" class="btn btn-warning mx-1 my-1" data-blog-id="{{userBlog.id}}">Edit</button>
                <button id="delete-blog-btn" type="submit" class="btn btn-danger mx-1 my-1" data-blog-id="{{userBlog.id}}">Delete</button>
            </div>
            {{!-- {{/ifEq}}
        {{/if}} --}}
        <div class="col-12 my-3">
            <div class="card">
                <div class="bg-dark text-white rounded-top d-flex justify-content-between align-items-center py-3">
                    <h5 class="card-header">{{{userBlog.title}}}</h5>
                    <h6 class="my-0 me-4 font-weight-normal">Posted by: {{{userBlog.[user.username]}}} on {{{userBlog.createdAt}}}</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">{{{userBlog.content}}}</p>
                </div>
            </div>
            <div id="render-blog-comments" class="card my-3">
                <div class="bg-secondary text-white rounded-top d-flex justify-content-between align-items-center ">
                    <h6 class="card-header">Comments</h6>
                </div>
                <!-- stacks of comments to be displayed here -->
                {{#each blogComments}}
                    <div class="card-body">
                        <p class="card-text">"{{comment_content}}" -- 
                            {{#ifEq ../userBlog.user_id user_id }}
                                Author,
                            {{/ifEq}}
                            {{[user.username]}}
                            {{createdAt}} 
                        </p>
                    </div>
                {{/each}}
            </div>
            {{#if loginStatus}}
            <div id="blog-comment-form" class="row py-3">
                <form class="">
                    <div class="bg-info px-3 py-2 rounded-0 rounded-top">
                        <h6 class="text-black">Add a comment</h6>
                    </div>
                    <div class="mb-3 ">
                        <textarea id="blog-comment-field" class="form-control rounded-0 rounded-bottom" rows="5" placeholder="Enter your comment here."></textarea>
                    </div>
                    <button id="publish-comment-btn" type="submit" class="btn btn-primary mx-1 my-1" data-user-id="{{userId}}" data-blog-id="{{userBlog.id}}">Publish</button>
                </form>
            </div>
            {{else}}
            <div class="d-flex">
                <a  href="/login"><button class="btn btn-primary mx-1">Login</button></a>
                <p class="ms-2 my-auto">Please login to comment.</p>
            </div>
            {{/if}}
        </div>
    </div>
    <script src="/js/blog-single.js"></script>